<?xml version="1.0" encoding="UTF-8"?>
<web-app 
 xmlns="http://java.sun.com/xml/ns/javaee"
 xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
 xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
 version="3.0">


<servlet>
	<servlet-name>Connexion</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.Connexion</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Connexion</servlet-name>
	<url-pattern>/connexion</url-pattern>
</servlet-mapping>


 <servlet>
	<servlet-name>Deconnexion</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.Deconnexion</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Deconnexion</servlet-name>
	<url-pattern>/deconnexion</url-pattern>
</servlet-mapping>

 <servlet>
	<servlet-name>Logged</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.Logged</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>Logged</servlet-name>
	<url-pattern>/logged</url-pattern>
</servlet-mapping>

 <servlet>
	<servlet-name>AdminListerUtilisateurs</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.AdminListerUtilisateurs</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminListerUtilisateurs</servlet-name>
	<url-pattern>/utilisateurs</url-pattern>
</servlet-mapping>

 <servlet>
	<servlet-name>AdminForward</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.AdminForward</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminForward</servlet-name>
	<url-pattern>/admin</url-pattern>
</servlet-mapping>

 <servlet>
	<servlet-name>AdminActivation</servlet-name>
	<servlet-class>fr.dauphine.mido.as.projet.servlets.AdminActivation</servlet-class>
</servlet>
<servlet-mapping>
	<servlet-name>AdminActivation</servlet-name>
	<url-pattern>/AdminActivation</url-pattern>
</servlet-mapping>

</web-app>




